  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="one-half column">
        <p>
			   <strong>Bob Lokerse</strong>
		    </p>
        <p>
          Sitecore .net developer @ <a href="http://www.tahzoo.com" target="_blank">Tahzoo</a>
        </p>
        <p>
          <a href="https://twitter.com/@boblokerse" target="_blank">Twitter</a> || <a href="https://nl.linkedin.com/in/boblokerse" target="_blank">LinkedIn</a> || <a href="https://github.com/boblokerse">Github</a>
        </p>
      </div
      <div class="one-half column">
        <img src="{{ site.url }}/assets/Bob.jpg" alt="Bob Lokerse profile">
      </div>
    </div>
  </div>
  