<head>

  <meta charset="utf-8">
  <title>My thoughs on blog | Bob Lokerse</title>
  <meta name="description" content="{{ page.title }}" />
  <meta name="author" content="Bob Lokerse">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.url }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.url }}/css/blog.css">

  <link rel="icon" type="image/png" href="{{ site.url }}/assets/favicon.ico">
</head>